body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    height: 100vh;
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 400px; /*to adpat most of the pages*/
}

h1 {
    margin: 0 0 20px 0;
    color: #333;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #f08b2c;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #d67824;
}

p {
    margin-top: 20px;
    color: #777;
}

a {
    color: #f08b2c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
