.scrollable-div {
    width: 400px;
    height: 300px;
    overflow: auto;
    padding: 10px;
    margin: 0 auto;
}

.post{
    border: 1px solid #dddddd;
    padding: 10px;
    margin-top: 10px;
    background-color: #dddddd89;
    border-radius: 5px; /* rounded corners */
}

.post h2{
    font-size: 20px;      
    color: #333;
    margin-top: 0;
    margin-bottom: 10px;
}

.log_out {
    border: 1px solid #ddd;
    padding: 5px 10px;
    background-color: #f08b2c;
    border-radius: 5px;
    margin: 0;
    display: flex;
    align-items: center;
}

.log_out input[type="submit"] {
    background: none;
    border: none;
    color: white;
    padding: 0;
    cursor: pointer;
}

.submit {
    border: 1px solid #ddd;
    padding: 5px 10px;
    background-color: #f08b2c;
    border-radius: 5px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    height: 100vh;
}

#parent-container,
.parent-container-class { 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; 
    height: auto;
    width: 100vw;
    background: white; /*the big white background*/
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1); /* box shadow for a subtle effect */ /*TODO Change Color Perhaps*/
    border-radius: 10px;
}

/* Styles the FSE ChatRoom and the Logout box */
#header-container { 
    display: flex;
    justify-content: center;;
    align-items: center;
    width: 100%;
    gap: 20px;/*Space Beweten the logout button and the "FSE ChatRoom"*/
    margin-bottom: 20px;
}

#scrollButton {
    margin-top: auto;
}

textarea {
    width: 150%;
    height: 100px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 4px; /*Round Area*/
    justify-content: flex-start;
    align-items: stretch;
}
